<Component.hero content="Survey">
  Please fill out our survey
</Component.hero>
<%= if @demographic do %>
  <DemographicLive.Show.details demographic={@demographic} />
  <hr />
  <br/>
  <RatingLive.Index.product_list products={@products}
    current_user={@current_user} />
<% else %>
  <.live_component module={DemographicLive.Form}
        id="demographic-form"
        current_user={@current_user} />
<% end %>
