<h1 class="ui dividing header">Calid Media Server</h1>
<button class="ui big button teal">Test Semantic Button</button>

<ul>
    <%= for file <- @files do %>
      <li><%= link file, to: page_path(@conn, :index) %></li>
    <% end %>
</ul>
