<Component.hero content="Survey">
  Please fill out our survey
</Component.hero>
<%= if @demographic do %>
  <DemographicLive.Show.details demographic={@demographic} />
<% else %>
  <h2>Demographic Form coming soon!</h2>
<% end %>
